<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <title>BNB-B</title>
  </head>

  <header>
    <h1>Two Unique Modals</h1>
    <h3>By [marcus] for BNB-B</h3>
  </header>

  <main>
    <body>
      <!-- BEGINNING OF MODAL 1 -->
      <!-- Modal Code -->
      <div class="full-img" id="modal1_fullDisplay">
        <!-- When thumbnail is clicked, src is changed -->
        <img src="IMAGE_LINK_GOES_HERE" id="modal1_displayImg" />
        <p>
          The FIRST Modal is now open and it will be used to "view" pop-up for an individual home.
          The "openModal1" method is called and passes in an image link related to the thumbnail
          which will be inserted in Modal 1's &ltimg&gt's src value, ultimately resulting to the
          image to the left being displayed.
        </p>
        <div class="portfolio">
          <img id="thumbnail" src="../img/modal2.png" onclick='openModal2("../img/boo.png")' />
        </div>
      </div>
      <!-- Series of thumbnails that will open Modal when clicked -->
      <div class="portfolio">
        <img id="thumbnail" src="../img/01.png" onclick='openModal1("../img/01.png")' />
      </div>
      <!-- ENDING OF MODAL 1 -->

      <!-- BEGINNING OF MODAL 2 -->
      <!-- Modal Code -->
      <div class="full-img" id="modal2_fullDisplay">
        <!-- When thumbnail is clicked, src is changed -->
        <img src="IMAGE_LINK_GOES_HERE" id="modal2_displayImg" />
        <p>
          The SECOND Modal is now open. It will be used as a sort of "checkout" pop-up. It uses it's
          own method "openModal2" that closes out anything related to Modal1. Notice how this text
          is different to FIRST Modal and boo.png is shown. Press ESC or click outside the text to
          exit.
        </p>
        <p>
          IMPORTANT NOTE: I didn't have time to work out the &ltp&gt's so they can properly display
          below each other and not be awkwardly cramped like right now. Diego may have to look into
          this with the .css
        </p>
      </div>
      <!-- Series of thumbnails that will open Modal when clicked -->
      <div class="portfolio">
        <img id="thumbnail" src="../img/modal2.png" onclick='openModal2("../img/boo.png")' />
      </div>

      <!-- ENDING OF MODAL 2 -->
      <script src="../js/portfolio.js"></script>
      <p>
        Sidenote: In case you are reading the portfolio.js code, yes I am aware "modal1" and
        "modal2" variable names are awful, we can change it very easily later down the line.
      </p>
      <a href="https://www.youtube.com/watch?v=sHG3Sf6XN9g">Modal Tutorial I used (click me)</a>
    </body>
  </main>
</html>
